@namespace blazorAntdProTemplate.Components

@if (Loading > 0)
{
    <div class="loading-animation-wrapper">
        <Spin Size="large" />
    </div>
}

@code{
    [Parameter]
    public int Loading { set; get; }
}
