<h3>
    @Data
</h3>

@code {
    [Parameter]
    public string Data { get; set; }

    [Inject] protected AppState appState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        appState.SetLoading(true);
        Data = "Change";
        appState.SetLoading(false);
    }
}
